h1{
    color:#436C79;
    font-family:montserrat,sans-serif;
    clear: "wixui-rich-text__text";
}

h2{
    color:#DB5C01; 
    font-family:montserrat,sans-serif;
    class: "wixui-rich-text__text";

}

h3{
    color: black;
    font-family:montserrat,sans-serif;
    clear: "wixui-rich-text__text";
    font: 300;
}

label{
    color: black;
    font-family:montserrat,sans-serif;
    class: "wixui-rich-text__text";

}

p{color: black;
    font-family:montserrat,sans-serif;
    class: "wixui-rich-text__text";}

button {color: black;
    font-family:montserrat,sans-serif;
    class: "wixui-rich-text__text";
}